body {
  margin: 0;
  padding: 0;
  background-color: #565656;
  height: 100%;
}

.home {
  margin: 0;
  padding: 0;
  background-color: #46A0D3;
  border-radius: 30px 30px 0 0;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

.home .title {
  -webkit-transform: translateY(24px);
          transform: translateY(24px);
  width: 339px;
  margin-left: 18px;
  height: 111px;
  border-radius: 30px;
  -webkit-box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.25), 10px 10px 20px rgba(0, 0, 0, 0.25);
          box-shadow: -10px -10px 20px rgba(255, 255, 255, 0.25), 10px 10px 20px rgba(0, 0, 0, 0.25);
  text-align: center;
}

.home .title h1 {
  position: absolute;
  margin-top: 55.5px;
  margin-left: 169.5px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  color: white;
  padding: 0;
  font-size: 48px;
  font-weight: normal;
  line-height: 111px;
}

.home .content_box {
  background-color: #EEEEEE;
  min-height: 1003px;
  margin-top: 50px;
  border-radius: 30px 30px 0 0;
}

.home .content_box .content {
  color: #474747;
  width: 339px;
  margin-left: 18px;
}

.home .content_box .content h1 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
  padding-top: 16px;
}

.home .card {
  position: relative;
  padding: 0;
  width: 339px;
  height: 80px;
  background-color: #EEEEEE;
  border-radius: 30px;
  -webkit-box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(111, 111, 111, 0.25);
          box-shadow: -10px -10px 20px #ffffff, 10px 10px 20px rgba(111, 111, 111, 0.25);
  margin-top: 19px;
}

.home .card p {
  position: absolute;
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  margin: 0;
  line-height: 30px;
  height: 30px;
  margin-top: 25px;
  margin-left: 30px;
}

.home .card .click_arrow {
  position: absolute;
  background: url(../img/Icons/click-arrow.png) no-repeat;
  margin-top: 30px;
  background-size: 20px;
  width: 20px;
  height: 20px;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  margin-right: 30px;
  margin-left: calc(100% - 50px);
}

.home .card .fill_bar {
  position: absolute;
  margin-top: 60px;
  margin-left: 30px;
  width: calc(100% - 60px);
  height: 5px;
  background-color: #EEEEEE;
  -webkit-box-shadow: -2.5px -2.5px 5px #ffffff, 2.5px 2.5px 5px rgba(0, 0, 0, 0.25);
          box-shadow: -2.5px -2.5px 5px #ffffff, 2.5px 2.5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.home .card .fill_bar .fill {
  background-color: #46A0D3;
  width: 40%;
  height: 100%;
  border-radius: 5px;
  -webkit-box-shadow: inset 2.5px 2.5px 2px rgba(255, 255, 255, 0.25);
          box-shadow: inset 2.5px 2.5px 2px rgba(255, 255, 255, 0.25);
}

.nav {
  bottom: 0;
  position: fixed;
  margin-right: 5%;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav svg {
  background: radial-gradient(rgba(71, 71, 71, 0.2) 0%, rgba(238, 238, 238, 0) 80%);
  border-radius: 50%;
}
